/* 
***
*** Body / fonts / links / photos / captions / "top of page" links
***
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    color: #292929;
    margin: 0;
    height: 100%;
    /* Make the footer appear at the bottom of the viewport with no white space beneath it */
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
}

a {
    color: #0097b2;
}

/* Photos other than hero image */
.photo figure {
    float: right;
    clear: right;
    margin: 0 0 1em 1em;
}

figcaption {
    text-align: right;
    font-size: smaller;
    line-height: 120%;
    margin-top: 0.25em;
}

.top-link {
    clear: both;
    text-align: right;
    font-size: smaller;
}

/* 
***
*** Header
***
*/

/* Use a flex container to position the logo and the navigation bar side-by-side */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #1d4286;
}

.header-logo {
    width: 199px;
    height: 170px;
    padding: 10px;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-logo h1 {
    margin: 0;
}

/* 
***
*** Navigation bar
***
*/

/* Use nested flex containers to position the link list */
nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    display: block;
    margin: 15px;
    font-size: larger;
    color: #0097b2;
    text-align: center;
    text-decoration: none;
    border-bottom: 4px solid white;
}

/* Highlight the current page, and also the navbar link the user hovers over, by adding a green line beneath the link */

nav a:hover:not(.icon), a.active-page {
    border-color: #6cbe4c;
}

/* Hide the menu icon link for opening/closing navigation menu on small screens */
nav .icon {
    display: none;
}

/* 
***
*** Content (main text of each page)
***
*/

.content {
    background-color: white;
    color: #292929;
    margin: 1em;
    flex: 1; /* this makes the content section take up as much of the viewing area as possible before the footer, ensuring that there is never empty space in the viewing window below the footer */
    line-height: 133%;
}

.content a:hover {
    text-decoration: underline #6cbe4c;
}

.content a[name]:hover {
    text-decoration: none;
}

.content h1, .content h2, .content h3 {
    color: #0097b2;
    margin-bottom: 0.5em;
}

.content h1 {
    margin-top: 0.25em;
    text-align: center;
    font-size: 200%;
}

.content h2 {
    margin-top: 1em;
    font-size: 150%;
}

.content h3 {
    margin-top: 1em;
    font-size: 125%;
}

.content p {
    margin: 1em 0;
    padding: 0;
}

/* 
***
*** Footer
***
*/

/* Use a flex container to position the contact information and the social media follow links side-by-side */

footer {
    background-color: #1d4286;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-section {
    width: 50%;
    margin: 1em 0.5em;
    text-align: center;
}

/* Contact address (in footer) */

address {
    font-style: normal;
}

.address-name {
    font-weight: bolder;
}

/* Social media share and follow links (using icons from Font Awesome library) */

.social-icons {
    margin-bottom: 0.5em;
}

.social-icons a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.social-icons a:hover {
    background-color: #6cbe4c;
}

/* 
***
*** Main page
***
*/

/* Hero image with call-to-action text overlaid on photo, and photo caption beneath */

.hero-image {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.hero-image figure {
    margin: 0;
}

.image-container {
    position: relative;
    text-align: center;
    max-width: 800px;
}
  
.image-container img {
    width: 100%;
    height: auto;
    vertical-align: top;
    margin: 0;
}
  
.image-container a {
    color: #00d9ff;
}

/* Upper and lower parts of call to action */
.cta-top, .cta-bottom {
    width: 100%;
    padding: 0.5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 36px;
    font-weight: bolder;
    color: white;
    text-shadow:
        -1px -1px 3px #000,  
        1px -1px 3px #000,
        -1px 1px 3px #000,
        1px 1px 3px #000;
}
  
.cta-top {
    top: 0%;
}
  
.cta-bottom {
    bottom: 0%;
}

figcaption.hero-caption {
	width: 100%;
    max-width: 800px;
}

/*
***
*** "About Us" page
***
*/

/* Ensure that each team member's subheading appears beneath the photo for the previous one */
.team h3 {
    clear: right;
    width: 100%;
    background-color: #eee;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
}

.team-member-name {
    font-weight: bolder;
}

/*
***
*** "Our Services" page
***
*/

.service h2 {
    font-size: 125%;
    margin: 0.5em 0;
}

/* Container for service heading and description */
.service {
    margin: 1.25em 0;
    padding: 0 0.75em;
    background-color: #eee;
    border: 3px solid #6cbe4c;
    border-radius: 10px;
    box-shadow:
        1px 1px 5px #000;
}

/* Limit photo width */
.service figure {
    max-width: 450px;
}

.service img {
    width: 100%;
    vertical-align: top;
    padding-top: 1em;
}

/* Collapsible headings */

/* Use a flex container so the plus/minus icon is vertically centered and doesn't overlap the h2 */

.collapsible-heading {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
}

.collapsible-heading h2 {
    flex-grow: 1;
}

/* Plus and minus signs on the right side of the h2  */

.collapsible-heading:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    float: right;
    margin-left: 5px;
}
  
.active-section:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    float: right;
    margin-left: 5px;
}

/* Collapsible sections are hidden by default */
.collapsible-section {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* Booking price and additional info for services */

.booking-info {
    text-align: center;
    background-color: #1d4286;
    color: white;
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 1em;
    clear: both; /* Ensure that it appears below any photos */
}

.booking-price {
    font-weight: bolder;
}

/*
***
*** "Contact Us" page
***
*/

/* Use a flex container to position the contact information and the form side-by-side */
.contact-section {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.contact-options {
    width: 45%;
}

.contact-options ul {
    margin: 0 0 1em 0;
    padding-left: 1.25em;
}

.contact-form {
    background-color: #0097b2;
    border: 1px solid #292929;
    border-radius: 20px;
    color: white;
    padding: 20px;
    width: 55%;
}

.contact-form button {
    background-color: #6cbe4c;
    color: white;
    border: 2px solid white;
    padding: 16px;
    font-size: larger;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 4px black;
    display: block;
    margin: 0 auto;
}

.required-field-note {
    font-size: smaller;
    font-style: italic;
}

/*
***
*** Responsive elements that change when the screen width is 800 pixels or less
***
 */

@media screen and (max-width: 800px) {

    /*
    ***
    *** Navigation
    ***
    */

    /* Hide the navigation bar links */
    nav a {
        display: none;
    }
    
    /* Show the menu icon and link */
    nav a#menu-open, a#menu-open:hover {
        display: block;
    }
    
    /* Icons for opening/closing the menu */
    .icon {
        color: white;
        font-size: 100%;
        background-color: #0097b2;
        border: 5px solid #0097b2;
        border-radius: 5px;
        padding: 0 2px;
        position: absolute;
        top: 10px;
        right: 10px;
        margin: 0;
    }
    
    /* When the user clicks on the menu icon, the navigation bar is assigned the "responsive" class (using JavaScript). This makes the navigation bar appear as a full-screen menu with links listed vertically instead of horizontally. */
    nav.responsive {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #1d4286;
        flex-direction: column;
    }

    nav.responsive ul {
        flex-direction: column;
        margin-top: 4em;
    }

    nav.responsive a:not(.icon) {
        display: block;
        border: none;
        margin: 0;
        padding: 20px;
        font-size: 200%;
        color: white;
    }

    nav.responsive a:not(.icon):hover {
        text-decoration: underline;
    }

    nav.responsive a#menu-open {
        display: none;
    }

    nav.responsive a#menu-close {
        display: block;
    }

    /*
    ***
    *** Content (main text of each page)
    ***
    */

    .content h1 {
        font-size: 150%;
        margin-top: 0.25em;
    }
    
    .content h2 {
        font-size: 125%;
    }
    
    .content h3 {
        font-size: 110%;
    }

    /*
    ***
    *** Footer
    ***
    */

    /* Use a flex container to arrange sections vertically (social media section first, contact address second) instead of horizontally */
    footer {
        flex-direction: column-reverse;
    }
    
    .footer-section {
        width: 100%;
    }
    
    /*
    ***
    *** Photos other than the hero image 
    ***
    */

    /* Use a flex container to horizontally center each photo */ 
    .photo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .photo figure {
        margin: 0;
    }

    /*
    ***
    *** Main page
    ***
    /*

    /* Hero image call-to-action text - adjust font to 50% of viewport width */
    .cta-top, .cta-bottom {
		font-size: 5vw;
    }
    
    /*
    ***
    *** "Contact Us" page
    ***
    */
    
    /* Use a flex container to arrange sections vertically instead of horizontally */

    .contact-section {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .contact-options {
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }

    .contact-options ul {
        list-style-type: none;
        padding: 0;
    }

    .contact-form {
        width: 100%;
        margin: 1em 0;
    }

}

/*
***
*** Responsive elements that change when the screen width is 450 pixels or less 
***
 */

 @media screen and (max-width: 450px) {

    /* Shrink the div containing the logo, thereby shrinking the logo */
    .header-logo {
        width: 150px;
        height: 130px;
    }

}